In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame as SparkDataFrame
from pyspark.sql.functions import dayofmonth, year, count
from pyspark.sql.functions import dayofmonth, month, year
from pyspark.sql.functions import year, avg
from pyspark.sql.functions import year, stddev
from pyspark.sql.functions import col, sqrt, mean

In [2]:
jar_path = "/Users/vanand/Documents/projects/mysql-connector/mysql-connector-j-8.1.0.jar"

In [3]:
spark = SparkSession.builder.appName("pyspark-mysql").config("spark.jars", jar_path).getOrCreate()

23/11/22 14:07:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/22 14:07:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
mysql_props = {
    "driver": "com.mysql.cj.jdbc.Driver",
    "url": "jdbc:mysql://localhost:3306/mysql?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
,
    "user": "root",
    "password": "_8Al@j!hsvigh_",
    "dbtable": "neic_earthquakes"
}

In [5]:
try:
    df = spark.read.format("jdbc").option("url", mysql_props["url"]).option("dbtable", mysql_props["dbtable"]).option("user", mysql_props["user"]).option("password", mysql_props["password"]).option("driver", mysql_props["driver"]).load()
except Exception as e:
    print(f"Error: {e}")

In [6]:
mysql_host = "localhost"
mysql_user = "root"
mysql_password = "_8Al@j!hsvigh_"
mysql_db = "mysql"
mysql_table = "neic_earthquakes"

In [8]:
import mysql.connector
import pandas as pd

In [11]:
connection = mysql.connector.connect(
    host=mysql_host,
    user=mysql_user,
    passwd=mysql_password,
    database=mysql_db
)

In [12]:
query = "SELECT * FROM neic_earthquakes"

In [13]:
data = pd.read_sql(query,connection)

In [14]:
data['Magnitude Type'].loc[data['Magnitude Type'].isnull()]

Series([], Name: Magnitude Type, dtype: object)

In [15]:
data = data.drop(data.index[[6703,7294,7919]])

In [16]:
data

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,,,6.0,MW,...,,,,,,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80,,,5.8,MW,...,,,,,,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20,,,6.2,MW,...,,,,,,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15,,,5.8,MW,...,,,,,,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15,,,5.8,MW,...,,,,,,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.3,1.2,40,5.6,ML,...,18,42.47,0.12,,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.8,2,33,5.5,ML,...,18,48.58,0.129,,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10,1.8,,5.9,MWW,...,,91,0.992,4.8,1.52,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79,1.8,,6.3,MWW,...,,26,3.553,6,1.43,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,,5.5,MB,...,428,97,0.681,4.5,0.91,US10007NTD,US,US,US,Reviewed

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23409 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23409 non-null  object
 1   Time                        23409 non-null  object
 2   Latitude                    23409 non-null  object
 3   Longitude                   23409 non-null  object
 4   Type                        23409 non-null  object
 5   Depth                       23409 non-null  object
 6   Depth Error                 23409 non-null  object
 7   Depth Seismic Stations      23409 non-null  object
 8   Magnitude                   23409 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             23409 non-null  object
 11  Magnitude Seismic Stations  23409 non-null  object
 12  Azimuthal Gap               23409 non-null  object
 13  Horizontal Distance         23409 non-null  object
 14  Horizontal Error            23409 non-null  object
 15  Root Mean Square            23409 non-null  object
 16  ID                          23409 non-null  object
 17  Source                      23409 non-null  object
 18  Location Source             23409 non-null  object
 19  Magnitude Source            23409 non-null  object
 20  Status                      23409 non-null  object
dtypes: float64(1), object(20)
memory usage: 3.9+ MB

In [18]:
data.describe()

          Magnitude
count  23409.000000
mean       5.882553
std        0.423087
min        5.500000
25%        5.600000
50%        5.700000
75%        6.000000
max        9.100000

In [19]:
data.pivot_table(index = "Type", values = "Magnitude", aggfunc=len)

                   Magnitude
Type
Earthquake             23229
Explosion                  4
Nuclear Explosion        175
Rock Burst                 1

In [20]:
data.fillna(data.mean(), inplace=True)

/var/folders/vw/rbtk0j7s2cd44nqn8ywcv0540000gq/T/ipykernel_16139/1474580016.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.fillna(data.mean(), inplace=True)

In [21]:
data

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,,,6.0,MW,...,,,,,,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80,,,5.8,MW,...,,,,,,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20,,,6.2,MW,...,,,,,,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15,,,5.8,MW,...,,,,,,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15,,,5.8,MW,...,,,,,,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.3,1.2,40,5.6,ML,...,18,42.47,0.12,,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.8,2,33,5.5,ML,...,18,48.58,0.129,,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10,1.8,,5.9,MWW,...,,91,0.992,4.8,1.52,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79,1.8,,6.3,MWW,...,,26,3.553,6,1.43,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,,5.5,MB,...,428,97,0.681,4.5,0.91,US10007NTD,US,US,US,Reviewed

In [22]:
data.pivot_table(index = "Type", values = "Magnitude", aggfunc=len)

                   Magnitude
Type
Earthquake             23229
Explosion                  4
Nuclear Explosion        175
Rock Burst                 1

In [23]:
data.describe()

          Magnitude
count  23409.000000
mean       5.882553
std        0.423087
min        5.500000
25%        5.600000
50%        5.700000
75%        6.000000
max        9.100000

In [24]:
data.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,,,6.0,MW,...,,,,,,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80,,,5.8,MW,...,,,,,,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20,,,6.2,MW,...,,,,,,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15,,,5.8,MW,...,,,,,,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15,,,5.8,MW,...,,,,,,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

1. How does the Day of a Week affect the number of earthquakes? -----------------------------------

In [25]:
data['Date'] = pd.to_datetime(data['Date'])

In [26]:
if pd.api.types.is_datetime64_any_dtype(data['Date']):
    data['day_of_week'] = data['Date'].dt.dayofweek + 1 
    result = data.groupby("day_of_week").size().reset_index(name="earthquake_count")

In [27]:
data['Date'] = pd.to_datetime(data['Date'], utc = True)

In [28]:
result = data.groupby("Date").size().reset_index(name="earthquake_count").sort_values("Date")

In [29]:
result

                           Date  earthquake_count
0     1965-01-02 00:00:00+00:00                 1
1     1965-01-04 00:00:00+00:00                 1
2     1965-01-05 00:00:00+00:00                 1
3     1965-01-08 00:00:00+00:00                 1
4     1965-01-09 00:00:00+00:00                 1
...                         ...               ...
12396 2016-12-25 00:00:00+00:00                 2
12397 2016-12-27 00:00:00+00:00                 1
12398 2016-12-28 00:00:00+00:00                 4
12399 2016-12-29 00:00:00+00:00                 1
12400 2016-12-30 00:00:00+00:00                 1

[12401 rows x 2 columns]

2. What is the relation between Day of the month and Number of earthquakes that
happened in a year? ------------------------------------------------------------------

In [30]:
spark_data2: SparkDataFrame = spark.createDataFrame(data)

In [31]:
earthquake_data = spark_data2.withColumn("year", year("date"))

In [32]:
result_2 = earthquake_data.groupBy("year", "date").count()

In [33]:
result_2.show()

+----+-------------------+-----+
|year|               date|count|
+----+-------------------+-----+
|1966|1966-01-26 05:30:00|    1|
|1967|1967-01-23 05:30:00|    1|
|1967|1967-03-24 05:30:00|    1|
|1967|1967-09-28 05:30:00|    2|
|1967|1967-12-07 05:30:00|    1|
|1968|1968-10-16 05:30:00|    1|
|1969|1969-05-15 05:30:00|    2|
|1971|1971-06-05 05:30:00|    3|
|1971|1971-07-31 05:30:00|    1|
|1966|1966-02-03 05:30:00|    3|
|1971|1971-01-20 05:30:00|    1|
|1965|1965-04-26 05:30:00|    3|
|1967|1967-06-01 05:30:00|    2|
|1970|1970-03-10 05:30:00|    3|
|1970|1970-12-01 05:30:00|    4|
|1971|1971-03-28 05:30:00|    2|
|1969|1969-01-29 05:30:00|    1|
|1971|1971-02-12 05:30:00|    2|
|1965|1965-12-23 05:30:00|    1|
|1967|1967-05-29 05:30:00|    1|
+----+-------------------+-----+
only showing top 20 rows

3. What does the average frequency of earthquakes in a month from the year 1965 to 2016
tell us? ------------------------------------------------------

In [34]:
filtered_earthquakes = spark_data2.filter((year("date") >= 1965) & (year("date") <= 2016))

In [35]:
filtered_earthquakes = filtered_earthquakes.withColumn("day_of_month", dayofmonth("date"))
filtered_earthquakes = filtered_earthquakes.withColumn("month", month("Date"))

In [36]:
monthly_counts = filtered_earthquakes.groupBy("month").count()

In [37]:
monthly_counts.show()

+-----+-----+
|month|count|
+-----+-----+
|   12| 2001|
|    1| 1891|
|    6| 1824|
|    3| 2113|
|    5| 1964|
|    9| 1985|
|    4| 1971|
|    8| 2013|
|    7| 1880|
|   10| 1952|
|   11| 1986|
|    2| 1829|
+-----+-----+

In [38]:
# Calculate the average frequency of earthquakes per month
total_months = filtered_earthquakes.select("month").distinct().count()
average_frequency = monthly_counts.selectExpr("avg(count) as average_frequency").collect()[0]["average_frequency"]

In [39]:
average_frequency

1950.75

4. What is the relation between Year and Number of earthquakes that happened in that
year?

In [40]:
year_data = spark_data2.withColumn("year", year("date"))

In [41]:
earthquakes_by_year = year_data.groupBy("year").agg(count("year").alias("earthquake_count"))

In [42]:
earthquakes_by_year.show()

+----+----------------+
|year|earthquake_count|
+----+----------------+
|1968|             305|
|1971|             386|
|1966|             234|
|1967|             255|
|1969|             323|
|1965|             339|
|1970|             345|
|1975|             412|
|1977|             425|
|1974|             361|
|1978|             410|
|1973|             401|
|1979|             356|
|1972|             388|
|1976|             457|
|1982|             346|
|1985|             476|
|1980|             348|
|1983|             452|
|1984|             481|
+----+----------------+
only showing top 20 rows

5. How has the earthquake magnitude on average been varied over the years?

In [43]:
average_magnitude_by_year = year_data.groupBy("year").agg(avg("magnitude").alias("average_magnitude"))

In [44]:
average_magnitude_by_year.show()

+----+------------------+
|year| average_magnitude|
+----+------------------+
|1968| 6.078524590163932|
|1971|5.9725388601036284|
|1966| 6.040470085470085|
|1967| 6.003921568627454|
|1969| 6.009349845201229|
|1965|   6.0141592920354|
|1970| 6.035768115942026|
|1975| 5.848276699029118|
|1977| 5.783764705882346|
|1974| 5.830332409972294|
|1978|5.8185365853658455|
|1973| 5.814064837905229|
|1979| 5.828370786516848|
|1972| 5.943814432989688|
|1976| 5.825842450765859|
|1982| 5.817630057803463|
|1985| 5.894873949579826|
|1980| 5.845689655172413|
|1983| 5.877123893805305|
|1984| 5.851767151767142|
+----+------------------+
only showing top 20 rows

6. How does year impact the standard deviation of the earthquakes?

In [45]:
stddev_by_year = year_data.groupBy("year").agg(stddev("magnitude").alias("magnitude_stddev"))

In [46]:
stddev_by_year.show()

+----+-------------------+
|year|   magnitude_stddev|
+----+-------------------+
|1968|0.46976560527556044|
|1971| 0.4607980426914895|
|1966| 0.4433274896166243|
|1967| 0.4021403290121524|
|1969| 0.4208987849425619|
|1965|0.46964683759796527|
|1970|0.43109589072932175|
|1975|0.42588130023380205|
|1977|  0.376985237157115|
|1974|0.39486411203660154|
|1978|0.40188772760810154|
|1973| 0.3777772965459098|
|1979|0.39547958069893097|
|1972|0.42867247346536375|
|1976|  0.405652227295463|
|1982|0.37456237903660555|
|1985|0.41893371523673334|
|1980| 0.3808867799535666|
|1983| 0.4384286117345279|
|1984|0.40630704194661993|
+----+-------------------+
only showing top 20 rows

7. Does geographic location have anything to do with earthquakes? -----------------------------------

In [47]:
result = earthquake_data.groupBy("Latitude", "Longitude").count()

In [49]:
result.show()

+--------+---------+-----+
|Latitude|Longitude|count|
+--------+---------+-----+
|   20.13|  121.461|    1|
|   52.99| -167.739|    1|
|  -6.416|   70.726|    1|
|  24.739|  122.414|    1|
|  39.568|   40.445|    1|
|  51.258|  177.215|    1|
|  43.321|  147.489|    1|
|  39.237|  140.718|    1|
|   -4.19|  141.183|    1|
|   8.981|  125.646|    1|
|  41.415|  143.416|    1|
|  51.948|  173.969|    1|
| -45.685|   96.003|    1|
| -16.438|  168.214|    1|
|   -6.52|  153.465|    1|
|  15.103|  122.492|    1|
|   4.569|  127.306|    1|
|   8.697|  127.217|    1|
|   37.36|  141.669|    1|
|  54.513|  163.189|    1|
+--------+---------+-----+
only showing top 20 rows

8. Where do earthquakes occur very frequently?

In [50]:
if "Latitude" not in spark_data2.columns or "Longitude" not in spark_data2.columns:
    print("Invalid DataFrame. Please check column names.")
else:
    print("DataFrame Sample:")
    spark_data2.show(5, truncate=False)

DataFrame Sample:
+-------------------+--------+--------+---------+----------+-----+-----------+----------------------+---------+--------------+---------------+--------------------------+-------------+-------------------+----------------+----------------+------------+------+---------------+----------------+---------+
|Date               |Time    |Latitude|Longitude|Type      |Depth|Depth Error|Depth Seismic Stations|Magnitude|Magnitude Type|Magnitude Error|Magnitude Seismic Stations|Azimuthal Gap|Horizontal Distance|Horizontal Error|Root Mean Square|ID          |Source|Location Source|Magnitude Source|Status   |
+-------------------+--------+--------+---------+----------+-----+-----------+----------------------+---------+--------------+---------------+--------------------------+-------------+-------------------+----------------+----------------+------------+------+---------------+----------------+---------+
|1965-01-02 05:30:00|13:44:18|19.246  |145.616  |Earthquake|131.6|           |                      |6.0      |MW            |               |                          |             |                   |                |                |ISCGEM860706|ISCGEM|ISCGEM         |ISCGEM          |Automatic|
|1965-01-04 05:30:00|11:29:49|1.863   |127.352  |Earthquake|80   |           |                      |5.8      |MW            |               |                          |             |                   |                |                |ISCGEM860737|ISCGEM|ISCGEM         |ISCGEM          |Automatic|
|1965-01-05 05:30:00|18:05:58|-20.579 |-173.972 |Earthquake|20   |           |                      |6.2      |MW            |               |                          |             |                   |                |                |ISCGEM860762|ISCGEM|ISCGEM         |ISCGEM          |Automatic|
|1965-01-08 05:30:00|18:49:43|-59.076 |-23.557  |Earthquake|15   |           |                      |5.8      |MW            |               |                          |             |                   |                |                |ISCGEM860856|ISCGEM|ISCGEM         |ISCGEM          |Automatic|
|1965-01-09 05:30:00|13:32:50|11.938  |126.427  |Earthquake|15   |           |                      |5.8      |MW            |               |                          |             |                   |                |                |ISCGEM860890|ISCGEM|ISCGEM         |ISCGEM          |Automatic|
+-------------------+--------+--------+---------+----------+-----+-----------+----------------------+---------+--------------+---------------+--------------------------+-------------+-------------------+----------------+----------------+------------+------+---------------+----------------+---------+
only showing top 5 rows

In [52]:
if "Latitude" not in spark_data2.columns or "Longitude" not in spark_data2.columns:
    print("Invalid DataFrame. Please check column names.")
else:
    # Print DataFrame schema
    print("DataFrame Schema:")
    spark_data2.printSchema()

    # Aggregate earthquake counts based on latitude and longitude
    earthquake_frequency = spark_data2.groupBy("latitude", "longitude").count()

    # Show the result
    earthquake_frequency.show(truncate=False)

DataFrame Schema:
root
 |-- Date: timestamp (nullable = true)
 |-- Time: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Depth: string (nullable = true)
 |-- Depth Error: string (nullable = true)
 |-- Depth Seismic Stations: string (nullable = true)
 |-- Magnitude: double (nullable = true)
 |-- Magnitude Type: string (nullable = true)
 |-- Magnitude Error: string (nullable = true)
 |-- Magnitude Seismic Stations: string (nullable = true)
 |-- Azimuthal Gap: string (nullable = true)
 |-- Horizontal Distance: string (nullable = true)
 |-- Horizontal Error: string (nullable = true)
 |-- Root Mean Square: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Location Source: string (nullable = true)
 |-- Magnitude Source: string (nullable = true)
 |-- Status: string (nullable = true)

+--------+---------+-----+
|latitude|longitude|count|
+--------+---------+-----+
|20.13   |121.461  |1    |
|52.99   |-167.739 |1    |
|-6.416  |70.726   |1    |
|24.739  |122.414  |1    |
|39.568  |40.445   |1    |
|51.258  |177.215  |1    |
|43.321  |147.489  |1    |
|39.237  |140.718  |1    |
|-4.19   |141.183  |1    |
|8.981   |125.646  |1    |
|41.415  |143.416  |1    |
|51.948  |173.969  |1    |
|-45.685 |96.003   |1    |
|-16.438 |168.214  |1    |
|-6.52   |153.465  |1    |
|15.103  |122.492  |1    |
|4.569   |127.306  |1    |
|8.697   |127.217  |1    |
|37.36   |141.669  |1    |
|54.513  |163.189  |1    |
+--------+---------+-----+
only showing top 20 rows

9. What is the relation between Magnitude, Magnitude Type , Status and Root Mean
Square of the earthquakes? -------------------------------------------------

In [56]:
data.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,1965-01-02 00:00:00+00:00,13:44:18,19.246,145.616,Earthquake,131.6,,,6.0,MW,...,,,,,,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,1965-01-04 00:00:00+00:00,11:29:49,1.863,127.352,Earthquake,80,,,5.8,MW,...,,,,,,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,1965-01-05 00:00:00+00:00,18:05:58,-20.579,-173.972,Earthquake,20,,,6.2,MW,...,,,,,,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,1965-01-08 00:00:00+00:00,18:49:43,-59.076,-23.557,Earthquake,15,,,5.8,MW,...,,,,,,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,1965-01-09 00:00:00+00:00,13:32:50,11.938,126.427,Earthquake,15,,,5.8,MW,...,,,,,,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [59]:
result = earthquake_data.groupBy("Magnitude Type", "Status").agg(
    mean("Magnitude").alias("Mean_Magnitude"),
    mean("Magnitude_RMS").alias("Mean_Magnitude_RMS")
)

In [60]:
result

DataFrame[Magnitude Type: string, Status: string, Mean_Magnitude: double, Mean_Magnitude_RMS: double]

In [61]:
result.show()

+--------------+---------+-----------------+------------------+
|Magnitude Type|   Status|   Mean_Magnitude|Mean_Magnitude_RMS|
+--------------+---------+-----------------+------------------+
|            ML| Reviewed|5.814675324675325|2.4106482281187303|
|            MH| Reviewed|6.540000000000001| 2.554491164578799|
|            MW| Reviewed|5.896276988912687| 2.426662225544825|
|            MW|Automatic|6.008523827973672| 2.449650393479173|
|           MWC|Automatic|5.885454545454544| 2.424682061070564|
|            MB| Reviewed| 5.68295666046266|2.3834873426148713|
|            MS| Reviewed|5.994359576968267|2.4464152725693555|
|            MD| Reviewed|5.966666666666666| 2.441396728570572|
|           MWB| Reviewed|5.907282343368587| 2.429259204003165|
|           MWC| Reviewed|5.857908799430014|2.4187732733663667|
|           MWR| Reviewed|5.630769230769231| 2.372582291019605|
|           MWW| Reviewed|6.008673726676768| 2.449411293435141|
+--------------+---------+-----------------+------------------+